$breakpoints: (
  "xs": 0,
  "sm": 320px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px,
  "xxl": 1536px,
  "xxxl": 1920px
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin xxl {
    @media (min-width: map-get($breakpoints, "xxl")) {
      @content;
    }
  }

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}
