@use 'sass:math';

form {

    $placeholderColor: #C7C8CC;
    $input-box-shadow: rgb(0 0 0 / 12%) 0px 5px 10px;
    $input-box-shadow-f: rgb(0 0 0 / 20%) 0px 5px 10px;

    // text box

    .form-label {
        font-size: $lg-font-size;
        font-weight: $medium-fw;
    }

    .input-t {
        outline: none;
        width: 100%;
        font-size: $base-font-size;
        border: 0;
        padding: $base-padding *2;
        border-radius: math.div($base-border-radius, 2.5);
        box-shadow: $input-box-shadow;
        font-family: $base-font;
        // color: #000;
        transition: $base-easing;
        &::-webkit-input-placeholder {
            color: $placeholderColor;
        }
        &:-moz-placeholder {
            color: $placeholderColor;
        }
        &::-moz-placeholder {
            color: $placeholderColor;
        }
        &:-ms-input-placeholder {
            color: $placeholderColor;
        }
        &:hover {
            box-shadow: $input-box-shadow-f;
        }
        &:focus {
            box-shadow: $input-box-shadow-f;
        }
    }

    // checkbox

    .checklist {
        --background: #141318;
        --text: #ffffff;
        --check: #3774ff;
        --disabled: #EDEDED;
        --border-radius: 10px;
        position: relative;
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        .input-c-label {
            color: var(--text);
            font-weight: 500;
            position: relative;
            cursor: pointer;
            display: grid;
            align-items: center;
            width: fit-content;
            transition: color .3s ease;
            &::before,
            &::after {
                content:"";
                position: absolute;
            }
            &::before {
                height: 2px;
                width: 8px;
                left: -27px;
                border-radius: 2px;
                background: var(--check);
                border-radius: 2px;
                transition: background .3s ease;
            }
            &:after {
                height: 4px;
                width: 4px;
                top: 8px;
                left: -25px;
                border-radius: 50%;
            }
        }

        .input-c {
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            height: 15px;
            width: 15px;
            outline: none;
            border: 0;
            margin: 0 15px 0 0;
            cursor: pointer;
            background: var(--background);
            display: grid;
            align-items: center;
            &::before,
            &::after {
                content:"";
                position: absolute;
                height: 2px;
                top: auto;
                background: var(--check);
                border-radius: 2px;
            }
            &::before {
                width: 0px;
                right: 60%;
                transform-origin: right bottom;
            }
            &::after {
                width: 0px;
                left: 40%;
                transform-origin: left bottom;
            }
            &:checked {
            &::before {
                animation: check-01 .4s ease forwards;
            }
            &::after {
                animation: check-02 .4s ease forwards;
            }
            + label {
                color: var(--disabled);
                animation: move .3s ease .1s forwards;
                    &::before {
                        background: var(--disabled);
                        animation: slice .4s ease forwards;
                    }
                    &::after {
                        animation: firework .5s ease forwards .1s;
                    }
                }
            }
        }

    }

    @keyframes move {
        50% {
            padding-left: 8px;
            padding-right: 0px;
        }
        100% {
            padding-right: 4px;
        }
    }

    @keyframes slice {
        60% {
            width: 100%;
            left: 4px;
        }
        100% {
            width: 100%;
            left: -2px;
            padding-left: 0;
        }
    }

    @keyframes check-01 {
        0% {
            width: 4px;
            top: auto;
            transform: rotate(0);
        }
        50% {
            width: 0px;
            top: auto;
            transform: rotate(0);
        }
        51% {
            width: 0px;
            top: 8px;
            transform: rotate(45deg);
        }
        100% {
            width: 5px;
            top: 8px;
            transform: rotate(45deg);
        }
    }

    @keyframes check-02 {
        0% {
            width: 4px;
            top: auto;
            transform: rotate(0);
        }
        50% {
            width: 0px;
            top: auto;
            transform: rotate(0);
        }
        51% {
            width: 0px;
            top: 8px;
            transform: rotate(-45deg);
        }
        100% {
            width: 10px;
            top: 8px;
            transform: rotate(-45deg);
        }
    }

    @keyframes firework {
        0% {
            opacity: 1;
            box-shadow: 0 0 0 -2px #3774ff, 0 0 0 -2px #3774ff, 0 0 0 -2px #3774ff, 0 0 0 -2px #3774ff, 0 0 0 -2px #3774ff, 0 0 0 -2px #3774ff;
        }
        30% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            box-shadow: 0 -15px 0 0px #3774ff, 14px -8px 0 0px #3774ff, 14px 8px 0 0px #3774ff, 0 15px 0 0px #3774ff, -14px 8px 0 0px #3774ff, -14px -8px 0 0px #3774ff;
        }
    }

    // select

    select {
        width: 100%;
        border: none;
        outline: none;
        border-radius: math.div($base-border-radius, 2.5);
        font-size: $base-font-size;
        padding: $base-padding * 2;
        box-shadow: $input-box-shadow;
        font-family: $base-font;
        option {
            font-size: $lg-font-size;
        }
    }

}
