.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    .list-item {
        width: 100%;
        margin: 0 $base-margin;
        padding: 10px;
    }
}
