@mixin modal {
    position: fixed;
    left: 0;
    top: 0;
    transition: $base-easing;
    -webkit-transition: $base-easing;
    z-index: 1;
    width: 100%;
    overflow: auto;
}

.modal {
    @include modal();
    transform: translateY(100%);
    .modal-content {
        margin: auto;
        padding: 20px;
        width: 60%;
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
    }
}

.modal-hidden {
    @include modal();
    transform: translateY(-100%);
    .modal-content {
        margin: auto;
        padding: 20px;
        width: 60%;
    }
}
