.nav {
    width: 100%;
    margin-top: 0;
    transition: $base-easing;
    position: fixed;
    top: 0;
    z-index: 9999;
    .nav-content {
        padding: 14px 64px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-brand {
            font-size: $lg-font-size;
            font-weight: 900;
            cursor: pointer;
        }
        .nav-burger {
            z-index: 1 !important;
            cursor: pointer;
            padding-top: 4px;
        }
    }
}

@mixin sidebar {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 0;
    transition: $base-easing;
    -webkit-transition: all 1s cubic-bezier(0.77,0,0.18,1);
    width: 60%;
    height: 100vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar {
    @include sidebar();
    transform: translateX(100%);
    ul {
        display: flex;
        flex-direction: column;
        gap: $base-padding * 5;
        padding-left: 20%;
        a {
            transition: $base-easing;
        }
    }
}

.sidebar-toggled {
    @include sidebar();
    transform: translateX(0%);
    ul {
        display: flex;
        flex-direction: column;
        gap: $base-padding * 5;
        padding-left: 20%;
        a {
            transition: $base-easing;
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 70%;
        ul {
            gap: $base-padding * 3;
        }
    }
    .sidebar-toggled {
        width: 70%;
        ul {
            gap: $base-padding * 3;
        }
    }
}

@media (max-width: 480px) {
    .nav {
        .nav-content {
            padding: 14px 32px;
        }
    }
    .sidebar {
        width: 100%;
        ul {
            padding-left: 0;
            margin: auto;
            gap: $base-padding * 2;
        }
    }
    .sidebar-toggled {
        width: 100%;
        ul {
            padding-left: 0;
            margin: auto;
            gap: $base-padding * 2;
        }
    }
}
